@charset "utf-8";

/* CSS Document */

/*  ------------------------------------------
/*  Plan du site
/*  ------------------------------------------ */
#plan_site { padding: 10px 0 }

#plan_site h2 {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #9AAF00;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;	
	margin-bottom: 15px;
	margin-top: 20px; }

#plan_site ul {
	margin: 15px 20px 3px 30px;
	list-style-image:url(../puce.gif);
	list-style-position:outside; }

#plan_site li {margin: 3px;}

#plan_site ul.sousrub {margin-top: 3px}
#plan_site ul.sousrub ul {margin-top: 5px}

li.spip li.spip { list-style-image:url(../puce.gif); list-style-position:outside; margin-left: 15px; }


/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */

a, a.spip_in { text-decoration: none; color: #333; }
a:hover { color: #C90011 }